{% extends 'base.html' %}
{% load static %}

{% block title %}
CENTRO | TEAM
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center title-heading">
        CENTRO <span class="title-highlight">LEADERSHIP</span> TEAM
    </h2>

    <div class="row">
        <div class="col-lg-8 pr-lg-5">
            <h3 class="mb-4 font-weight-bold" style="color: #0056b3;">CENTRO Central Staff</h3>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team1.jpg' %}" alt="Agustina Velazquez">
                        </div>
                        <div class="staff-info">
                            <h5>Agustina Velazquez</h5>
                            <p>Interim President & Chief Executive Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team2.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Noelia Martinez</h5>
                            <p>Assistant Director of Training & Corporate Compliance <br> Human Rights Officer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team3.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Timothy Kirby</h5>
                            <p>VP & Cheif Finincial Officer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team5.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Mayerling De La Rosa, MS</h5>
                            <p>Director of COmmunity Support & Strategic Initiatives</p>
                        </div>
                    </div>
                </div>
<!--
                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team4.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Nelida Machicote</h5>
                            <p>VP & Chief of Programs</p>
                        </div>
                    </div>
                </div>
-->
                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team6.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Ixchel Tattersall-Malaver</h5>
                            <p>Director of Family Support & Stablization</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team7.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Indhira Rodriguez</h5>
                            <p>Director of Human Resources</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team8.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Marielly Rossy</h5>
                            <p>Program Director of AFC & GAFC</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team99.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Valeria Ramos Rodriguez</h5>
                            <p>Executive Assistant to the CEO & Marketing Coordinator</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="staff-card">
                        <div class="staff-image">
                            <img src="{% static 'img/team10.jpg' %}" alt="Noelia Martinez">
                        </div>
                        <div class="staff-info">
                            <h5>Cristian Rivera Velez</h5>
                            <p>Assistant Director of AFC & GAFC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="col-lg-1 d-none d-lg-block" style="border-left: 2px solid #e0e0e0; height: auto;"></div>

        <div class="col-lg-3">
            <div class="board-section">
                <h4 class="mb-4 font-weight-bold" style="color: #0056b3;">Board of Directors</h4>
                <ul class="list-group border-0">
                    <li class="list-group-item director-item mb-3">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Richard Rafferty</h5>
                        <p class="m-0" style="color: #e7833c;">Chairman</p>
                    </li>
                    <li class="list-group-item director-item mb-3">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Columbus N. Okai</h5>
                        <p class="m-0" style="color: #e7833c;">Vice Chair</p>
                    </li>
                    <li class="list-group-item director-item mb-3">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Noel Nieves</h5>
                        <p class="m-0" style="color: #e7833c;">Treasurer</p>
                    </li>
                    <li class="list-group-item director-item mb-3">
                        <h5 class="font-weight-bold" style="color: #0056b3;">George Cox</h5>
                        <p class="m-0" style="color: #e7833c;">Clerk/Secretary</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Agustina Velazquez</h5>
                        <p class="m-0" style="color: #e7833c;">Interim President & CEO</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Maury Ramirez</h5>
                        <p class="m-0" style="color: #e7833c;">Assistant Treasurer</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Atty. Maria Rivera Cotto</h5>
                        <p class="m-0" style="color: #e7833c;">Assistant Clerk/Secretary</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Atty. Maria Rivera Scozzafava</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Bruce A. Rawan</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Dr. Tracey Capers</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Dr. Maria M. Knight</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Dr. Terrance Gibson</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Atty. Randy Feldman</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                    <li class="list-group-item director-item">
                        <h5 class="font-weight-bold" style="color: #0056b3;">Walter J.E. Weekes, Sr.</h5>
                        <p class="m-0" style="color: #e7833c;">Board Member</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>

<style>
    .card:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
    }
    .container h2, .container h3 {
        text-transform: uppercase;
    }
    .img-fluid {
        object-fit: cover;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

      .container h2, .container h3 {
        text-transform: uppercase;
    }

    .staff-card {
        display: flex;
        align-items: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px solid #e7833c;
        transition: transform 0.3s ease;
        overflow: hidden;
        background: #fff;
        height: 200px; 
    }

    .staff-card:hover {
        transform: translateY(-5px);
    }

    .staff-image {
        width: 40%;
        height: 100%;
        padding: 10px; 
        box-sizing: border-box; 
    }

    .staff-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px; 
        border: 2px solid #e7833c; 
    }

    .staff-info {
        padding: 15px;
        flex: 1;
    }

    .staff-info h5 {
        color: #0056b3;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .staff-info p {
        color: #e7833c;
        margin: 0;
    }

    .director-item {
        background-color: #fff; 
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #e7833c;
        padding: 15px;
        margin-bottom: 10px;
    }

    .board-section {
        background-color: #f9f9f9; 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #e0e0e0; 
    }


    .title-heading {
        color: #ffffff;
        background-color: #8CB7E0;
        padding: 20px;
        margin-bottom: 40px;
        letter-spacing: 1px;
        border-radius: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .title-highlight {
        color: #EFE5A6;
    }

    @media (max-width: 768px) {
        .title-heading {
            font-size: 2rem;
        }
    }
</style>
{% endblock %}
