{% extends 'base.html' %}
{% load static %}

{% block title %}
CENTRO | FAMILY SUPPORT SERVICES
{% endblock %}

{% block content %}
<h2 class="text-center title-heading">
    FAMILY SUPPORT SERVICES (FSS)
</h2>

<style>
    .title-heading {
        color: #ffffff;
        background-color: #8CB7E0;
        padding: 20px;
        margin-bottom: 40px;
        letter-spacing: 1px;
        border-radius: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}